.chess_board {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;


  i,
  b {
    display: block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
  }

  i {
    background: #333333;
  }

  b {
    background: lightyellow;
  }

  &.min-7 {
    i,b {
      width: calc(100% / 7);
      height: calc(100% / 7);
    }
  }
  &.min-8 {
    i,b {
      width: calc(100% / 8);
      height: calc(100% / 8);
    }
  }
}

.bg-red-300 {
  background-color: red;
}

.bg-lime-300 {
  background-color: lime;

}
